---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import BlogPostThumbnail from "../components/BlogPostThumbnail.astro";

const allPosts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime()
);
---

<Layout title="Blog | Hassan Anees">
  <div class="max-w-screen-sm p-6 font-sans md:mx-auto py-14">
    <h1 class="text-2xl font-bold">Piecing Thoughtful Insights</h1>
    <h1>Deep dives on books, technology, and human behavior.</h1>
    <p>A haven where I exercise writing. Currently a WIP</p>
    <div class="">
      {
        allPosts.map((post) => (
          <BlogPostThumbnail
            url={`/posts/${post.id}`}
            title={post.data.title}
            pubDate={post.data.pubDate.toLocaleDateString("en-US", {
              timeZone: "UTC",
              month: "long",
              day: "2-digit",
              year: "numeric",
            })}
            description={post.data.description}
          />
        ))
      }
    </div>
  </div>
</Layout>
