---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Work | Hassan Anees">
  <div id="work" class="max-w-screen-md md:mx-auto">
    <div class="p-6 py-14">
      <h2 class="text-2xl font-bold">Work</h2>
      <p class="mt-2 mb-4">
        Throughout my studies I had opportunities to engage with a variety of research areas and
        work across numerous industries.
      </p>

      <div class="text-gray-600">
        <div id="industry" class="mb-10">
          <h4 class="text-xl font-bold text-black">Industry</h4>

          <div class="border-b-2 border-gray-100">
            <div class="my-4">
              <h2 class="text-lg font-semibold">Security Engineer</h2>
              <h3 class="font-semibold text-gray-400">Brock Solutions, 2024 — Present.</h3>
              <!-- <p class="mt-2 mb-4">
                All things cloud (microsoft azure), risk management, and phishing education.
              </p> -->
            </div>
          </div>

          <div class="border-b-2 border-gray-100">
            <div class="my-4">
              <h2 class="text-lg font-semibold">Information Security Risk Analyst</h2>
              <h3 class="font-semibold text-gray-400">Equitable Bank, 2023</h3>
              <!-- <p class="mt-2 mb-4">
                All things cloud (microsoft azure), risk management, and phishing education.
              </p> -->
            </div>
          </div>

          <div class="border-b-2 border-gray-100">
            <div class="my-4">
              <h2 class="text-lg font-semibold">Backend Engineer</h2>
              <h3 class="font-semibold text-gray-400">Curetrax, 2023</h3>
              <!-- <p class="mt-2 mb-4">Implementing REST APIs endpoints for a medicine tracking feature.</p> -->
            </div>
          </div>

          <div class="border-b-2 border-gray-100">
            <div class="my-4">
              <h2 class="text-lg font-semibold">Full-Stack Engineer</h2>
              <h3 class="font-semibold text-gray-400">Boston Pizza, 2022</h3>
              <!-- <p class="my-2 mb-4">
                Automating float tracking and counting by creating a cloud-based (AWS) web application.
              </p> -->
            </div>
          </div>

          <div class="my-4">
            <h2 class="text-lg font-semibold">Software Engineer</h2>
            <h3 class="font-semibold text-gray-400">Fyro, 2019 — 2020</h3>
            <!-- <p class="my-2 mb-4">
              My first experience using ReactJS. Created a food delivery dashboard for an delivery
              application.
            </p> -->
          </div>
        </div>

        <div id="research">
          <h4 class="text-xl font-bold text-black">Research</h4>
          <div class="text-gray-600">
            <div class="border-b-2 border-gray-100">
              <div class="my-4">
                <h2 class="text-lg font-semibold">
                  Social Engineering and Enhancing Detection Methods
                </h2>
                <h3 class="font-semibold text-gray-400">Canada Cyber Foundry, 2022 — 2023</h3>
                <!-- <p class="mt-2 mb-4">
                All this stuff
              </p> -->
              </div>
            </div>

            <div class="text-gray-600">
              <div class="border-b-2 border-gray-100">
                <div class="my-4">
                  <h2 class="text-lg font-semibold">
                    Next-in-Line Effect & Costs of Preparation on Memory
                  </h2>
                  <h3 class="font-semibold text-gray-400">Memory & Cognition Lab, 2020 — 2021</h3>
                  <!-- <p class="mt-2 mb-4">
                All this stuff
              </p> -->
                </div>
              </div>

              <div class="border-b-2 border-gray-100">
                <div class="my-4">
                  <h2 class="text-lg font-semibold">
                    Sentiment Analysis on Mental Health Impacts for Adolescents
                  </h2>
                  <h3 class="font-semibold text-gray-400">Gillis Research Lab, 2020 — 2021</h3>
                  <!-- <p class="mt-2 mb-4">
                All this stuff
              </p> -->
                </div>
              </div>

              <div class="text-gray-600">
                <div class="border-b-2 border-gray-100">
                  <div class="my-4">
                    <h2 class="text-lg font-semibold">Rural-Suicide Study Codebook</h2>
                    <h3 class="font-semibold text-gray-400">
                      Self-Injury & E-Mental Health Lab, 2019 — 2021
                    </h3>
                    <!-- <p class="mt-2 mb-4">
                    All this stuff
                  </p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
