---

---

<!-- About -->
<div id="about" class="p-6 md:mx-auto max-w-screen-md">
  <h1 class="text-xl font-bold">About me</h1>
  <p>
    I began as a research assistant, working on aspects of human cognition like emotion, memory, and
    creativity. Later I shifted my attention to software engineering, building solutions for
    startup, medical, and financial industries. I now am in the cybersecurity field where I continue
    to leverage SWE practices and principles in psychology.
  </p>
</div>
