---
import SocialMedia from "../components/SocialMedia.astro";
---

<footer
  class="bg-gray-800
          p-10
          text-white
          font-semibold"
>
  <div class="flex items-center justify-between">
    <div>&copy; All rights reserved</div>
    <SocialMedia />
  </div>
</footer>
