---
import { Icon } from "astro-icon/components";
---

<div class="p-6 md:mx-auto max-w-screen-md">
  <div>
    <h1 class="text-4xl font-bold pt-20 pb-4">
      Hey, <span>I'm Hassan 👋</span>
    </h1>
  </div>
  <div class="">
    <p class="mb-4">
      <span class="font-semibold">Cybersecurity practitioner</span> who enjoys writing, programming,
      and speaking.
    </p>
    <a href="/" class="inline-block overflow-hidden" target="_blank">
      <Icon size={30} class="hover:text-cyan-500" name="mdi:linkedin" />
    </a>
    <a href="/" class="inline-block overflow-hidden" target="_blank">
      <Icon size={30} class="hover:text-cyan-500" name="mdi:github" />
    </a>
  </div>
</div>
