---
import { Icon } from "astro-icon/components";
import hLogo from "../assets/speaking/logo.svg";
---

<div class="max-w-screen-md p-6 md:mx-auto">
  <div>
    <h1 class="pt-20 pb-4 text-4xl font-semibold tracking-wide uppercase sm:text-6xl">
      H<span class="text-3xl sm:text-5xl">assan </span>A<span class="text-3xl sm:text-5xl"
        >nees</span
      >
    </h1>
  </div>
  <div class="">
    <p class="mb-4">
      <span class="font-semibold sm:text-xl">Cybersecurity practitioner</span> who enjoys writing, programming,
      and speaking.
    </p>
    <a
      href="https://www.linkedin.com/in/hassan-anees/"
      class="inline-block overflow-hidden"
      target="_blank"
    >
      <Icon size={30} class="hover:text-cyan-500" name="mdi:linkedin" />
    </a>
    <a href="https://github.com/hassan-anees" class="inline-block overflow-hidden" target="_blank">
      <Icon size={30} class="hover:text-cyan-500" name="mdi:github" />
    </a>
    <div
      class="flex items-center gap-3 p-4 mt-8 text-black rounded-lg bg-gradient-to-r from-emerald-500 to-emerald-900 opacity-65"
    >
      <div>
        <Icon size={30} class="text-white" name="mdi:alert-circle-outline" />
      </div>
      <div class="font-medium text-white">
        Welcome to my digital playground. I test new technologies constantly here, so things might
        break here and there :)
      </div>
    </div>
  </div>
</div>
