---

---

<div id="work" class="md:mx-auto max-w-screen-md p-6 py-14">
  <h2 class="text-2xl font-bold">Recent Work</h2>
  <p class="mt-2 mb-4">
    Throughout my studies, I had the opportunity to work across various industries and research
    areas.
  </p>

  <div class="text-gray-600">
    <div class="justify-between">
      <div class="border-b-2 border-gray-100">
        <div class="my-4">
          <h2 class="text-black font-semibold text-lg">Industry Experience</h2>
          <h2 class="text-lg font-semibold">Information Security Risk Analyst</h2>
          <h3 class="font-semibold text-gray-400">Equitable Bank, 2023</h3>
          <!-- <p class="mt-2 mb-4">
              All things cloud (microsoft azure), risk management, and phishing education.
            </p> -->
        </div>
      </div>

      <div class="text-gray-600">
        <div class="">
          <div class="my-4">
            <h2 class="text-black font-semibold text-lg">Research Experience</h2>
            <h2 class="text-lg font-semibold">Psychological Mechanics of Social Engineering</h2>
            <h3 class="font-semibold text-gray-400">Canada Cyber Foundry, 2022 — 2023</h3>
            <!-- <p class="mt-2 mb-4">
              All this stuff
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-10 mx-auto max-w-40 w-full">
    <a href="/work"
      ><p
        class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl font-extrabold cursor-pointer focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-lg rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        View all work
      </p></a
    >
  </div>
</div>
