---
import { Icon } from "astro-icon/components";
const { color } = Astro.props;
---

<div class="flex gap-2">
  <a
    href="https://www.linkedin.com/in/hassan-anees/"
    class="inline-block overflow-hidden"
    target="_blank"
  >
    <Icon size={40} class="text-white hover:text-cyan-500" name="mdi:linkedin" />
  </a>
  <a href="https://github.com/hassan-anees" class="inline-block overflow-hidden" target="_blank">
    <Icon size={40} class="text-white hover:text-cyan-500" name="mdi:github" />
  </a>
  <!-- <a href="mailto:hassan.anees@outlook.com" class="inline-block overflow-hidden" target="_blank">
    <Icon size={50} class="text-white hover:text-cyan-500" name="mdi:mail-outline" />
  </a> -->
</div>
